/* banniere */
#banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #161e2a;
  overflow: hidden;
  justify-content: center;
  background-image: url(/img/hero-background.024946252a64.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
/* hero banner */
#hero-banner {
  display: none;
  justify-content: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: url(/img/user.svg);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  align-items: center;
}
#hero-banner svg {
  fill: #fff;
  width: 0px;
}
#slogan-banner {
  width: auto;
  height: 100px;
  font-family: muli;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 254, 254);
  font-size: 30px;
  /* the form */

  border-radius: 5px;
}
#slogan-banner p {
  background-color: #fff;
  padding: 10px;
  color: #161e2a;
  border-radius: 5px;
}

/* Responsive after banner */
@media screen and (max-width: 1109px) {
  #banner {
    flex-direction: column;
  }
  #hero-banner {
    height: auto;
    margin: 10px;
  }
  #title-offerbanner h1 {
    font-size: 53px;
  }
  .card {
    margin-bottom: 10px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.108),
      0px 1.6px 3.6px rgba(0, 0, 0, 0.132);
  }
}
@media screen and (max-width: 453px) {
  #title-offerbanner h1 {
    font-size: 47px;
  }
  #banner {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 402px) {
}
@media screen and (max-width: 366px) {
  #hero-banner {
    width: 100%;
  }
  #slogan-banner {
    font-size: 15px;
  }
}
