/* banniere */
#banner {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #fffcfa;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#banner-illustration {
  width: 50%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#main-banner {
  width: 50%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  order: 1;
}
#banner h1 {
  font-size: 44px;
  padding: 10px;
}
/*  */
#btn-banner {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: center;
}
.btn-banner1 {
  padding: 10px 50px 10px 50px;
  margin: 0 10px 0 10px;
  border: none;
  background-color: #ff7845;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-banner1:hover {
  padding: 10px 50px 10px 50px;
  margin: 0 10px 0 10px;
  border: none;
  color: #ffffff;
  /* border: 1px solid #ff7845; */
  background-color: #e81e63;
  scale: 0.96;
  box-shadow: 10px 10px 36px -18px rgba(0, 0, 0, 0.2);
  filter: blur(1);
}

.btn-banner2 {
  margin: 0 10px 0 10px;
  padding: 10px 50px 10px 50px;
  border: none;
  background-color: #ffefea;
  border-radius: 10px;
  color: #ff8d63;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-banner2:hover {
  background-color: #ffebb2;
  /* border: 1px solid #ff7845; */
  color: #000000;
  scale: 0.96;
  box-shadow: 10px 10px 36px -18px rgba(0, 0, 0, 0.2);
  filter: blur(1);
}
/* Responsive  */
@media screen and (max-width: 1100px) {
  #banner {
    flex-direction: column;
  }
  #main-banner {
    width: 100%;
  }
  #banner-illustration {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  #banner {
    flex-direction: column;
  }
  #main-banner {
    height: auto;
  }
  #main-banner h1 {
    font-size: 36px;
  }
  #main-banner p {
    font-size: 14px;
  }
  #banner-illustration {
    width: auto;
    height: auto;
  }
  #banner-illustration img {
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  #banner {
    flex-direction: column;
  }
  #main-banner {
    height: auto;
  }
  #main-banner h1 {
    font-size: 26px;
  }
  #main-banner p {
    font-size: 14px;
  }
  #banner-illustration {
    width: auto;
    height: auto;
  }
  #banner-illustration img {
    width: 100px;
  }
}
@media screen and (max-width: 456px) {
  #banner {
    flex-direction: column;
  }
  #main-banner {
    height: auto;
  }
  #main-banner h1 {
    font-size: 26px;
  }
  #main-banner p {
    font-size: 14px;
  }
  #banner-illustration {
    width: auto;
    height: auto;
  }
  #banner-illustration img {
    width: 100px;
  }
}
