/* contenu */
#presentation {
  width: auto;
  height: 100vh;
  display: none;
}
#presentation-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 6fr 1fr 2fr 1fr;
}
.box {
  background-color: #ffdddb;
  border: 1px solid #ff7845;
  color: #ff7845;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}
